events {}

http {
    access_log /dev/stdout; # tmp
    error_log /dev/stderr; # tmp

    server {
        listen ${NGINX_PORT};
        server_name ${NGINX_HOST};

        location / {
            return 200 "foo";
        }
    }
}
